<header>
  <p>Angular 2 QuickStart</p>
  <div id="box1">
    <p id="box1-content">Current User: Test@test.com</p>
  </div>

  <div id="box2">
    <p id="box2-content">Add Product</p>
  </div>
</header>

<div id="content">
  <div id="box3">
    <div id="box3-header">
      <ul>
        <li>Product Name</li>
        <li>Product Price</li>
      </ul>
      <hr>
    </div>
    <div id="box3-content">
      <div id="product1">
        <i class="glyphicon glyphicon-cog"> </i>
        <button>2</button>
          <ul>
            <li>Product One</li>
            <li>$22.50</li>
          </ul>
      </div>
    </div>
  </div>
</div>